
.main-header

.main-header__logo


.main-header
    position: fixed
    top: 0
    padding: .5rem
    height: 3.5rem
    width: 100%
    background: black
    color: $light-white
    z-index: $z-index-10

    @at-root #{&}__logo
        position: absolute
        left: 50%
        margin: 5px 0 0 -10px
    // @at-root #{&}--modifier

.container
    @include clearfix
    // position: relative
    // height: 100%

    @at-root #{&}__main
        margin-top: 3.5rem
        // background: $gray4
        // padding: .8rem
        // height: calc(100% - 3.5rem)
        position: relative


html
    position: relative
    height: 100%

.text-on-top__container
    position: relative
// .text-on-top__img
//     display: block
//     position: relative
.text-on-top__overlay
    position: absolute
    width: 100%
    height: 100%
    top: 0
    background: rgba(255,255,255,.4)
.text-on-top__text
    font-family: 'New Transport'
    color: $black
    position: absolute
    font-size: 3em
    top: 50%
    text-align: center
    width: 100%
    line-height: 50px
    margin-top: -25px
