input[type="text"], input[type="search"], input[type="date"], input[type="password"], input[type="email"], textarea, button, select
    box-shadow: none
    border: 1px solid $gray4
    padding: 0 1em
    line-height: $baseline*2-2
    border-radius: 2px
    background-image: none
    &.input--full
        width: 100%
input[type="submit"]
    &.input--full
        width: 100%
input:focus
    outline: none
input[type="radio"]:checked  + label
    background: $gray1
    border-color: $gray1
    color: white !important
label input[type="file"]
    position: fixed
    top: -1000px

/***** Example custom styling *****/
label.upload
    background: $gray1
    border: none
    border-radius: .2rem
    box-sizing: border-box
    color: $white
    cursor: pointer
    display: inline-block
    height: 3.51rem
    line-height: 3.51rem
    max-width: 100%
    transition-property: background-color
    transition-duration: 200ms
    margin: 0 auto
    padding: 0 2rem
    text-align: center
