@font-face {
	font-family: 'New Transport';
	src: url('../fonts/NewTransport-Black.eot');
	src: url('../fonts/NewTransport-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NewTransport-Black.woff') format('woff'),
		url('../fonts/NewTransport-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
